@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
}
.navbar-brand {
  /* background: cadetblue; */
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}
.coll {
  color: rgb(237, 225, 6);
  /* background-color: dimgray; */
  margin: 0;
}
.album {
  /* background-color: rgb(2, 88, 91); */
  color: goldenrod;
  margin: 0;
}
.icon {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.378);
  padding: 3px;
  /* background-color: rgba(0, 0, 0, 0.061); */
}
.btn {
  display: flex;
  align-items: center;
  border-radius: 20px;
}
